body {
  background-color: var(--color__grey);
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color__black);
  font-family: var(--typo__heading);
}
h1 {
  font-size: 64px;
}
h2 {
  font-size: 48px;
}
h4 {
  font-size: 28px;
}

/* Body Text */
p,
span,
b,
a,
li {
  color: var(--color__black);
  font-family: var(--typo__body);
  font-size: 18px;
  font-weight: 300;
}
